* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}

html {
  background-color: #2e2e2e;
}

body {
  color: #e0e0e0;
}

.btn-tailwind {
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.btn-tailwind:hover {
  background-color: #2563eb;
}
